<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - signup</title>

    <!-- Custom fonts for this template-->
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='img/iconfinder_lms_71660.png') }}" type="image/icon type">

    <!-- Custom styles for this template-->
    <link href="static/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form action="" class="user" method="POST">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="First Name" name="firstname" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="exampleLastName"
                                            placeholder="Last Name" name="lastname" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="emailaddress"
                                        placeholder="Email Address" name="emailaddress" required>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user"
                                            id="password" placeholder="Password" name="password" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                            id="confirm_password" placeholder="Repeat Password" required>
                                    </div>
                                </div>
                                <input class="btn btn-primary btn-user btn-block" type="submit" value="Signup Account">
                                    
                                
                                <!--
                                <a href="index.html" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Register with Google
                                </a>
                                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                                </a>
                                -->
                            </form>
                            <br>
                            <div>
                                {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                    <div class="alert alert-{{ category }}">
                                        {{ message }}
                                    </div>
                                        {% endfor %}
                                    {% endif %}
                                    {% endwith %}

                            </div>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="/forgot-pass">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="/login">Already have an account? Login!</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="/">Back LMS</a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- Confirm Password JavaScript-->

    <script >
        var password = document.getElementById("password")
    , confirm_password = document.getElementById("confirm_password")
    , emailadd =document.getElementById("emailaddress");
  
  function matchPassword(){
    if(password.value != confirm_password.value) {
      confirm_password.setCustomValidity("Passwords Don't Match");
    } else {
      confirm_password.setCustomValidity('');
    }
  }

  function validatePassword(){
    var len = password.value.length;
    // var symbol = /[\W]/;
    // var number = /[\d]/;
    // var symbolLen = symbol.exec(password.value).length;
    // var numberLen = number.exec(password.value).length;

    if( len >= 8) {
        password.setCustomValidity("");
    } else {
     password.setCustomValidity("Your Password is Too Weak!");
    }
    //   if( symbolLen >= 2) {
    //     if( numberlLen >= 2) {
             
    //   } else {
    //       password.setCustomValidity("Add 2 or more Number!");
    //         }
    // } else {
    //   password.setCustomValidity("Add 2 or more Symbol!");
    // }

  }

  function validateEmail(){
    let email = /^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/;
    if (email.test(emailadd.value)){
          emailadd.setCustomValidity("");
    }else{
          emailadd.setCustomValidity("Email Don't Valid");

      }
  }
  password.onchange = validatePassword;
  password.onkeyup = validatePassword;

  password.onchange = matchPassword;
  confirm_password.onkeyup = matchPassword;
  emailadd.onchange = validateEmail;
  emailadd.onkeyup = validateEmail;


    </script>
    <!-- Bootstrap core JavaScript-->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="static/js/sb-admin-2.min.js"></script>
   
</body>

</html>