<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='main.js'></script>


</head>

<body style="background-color: #4e73df; background-size: cover;">
    <!-- <div style="width: 100%; padding-right: 0.75rem; padding-left: 0.75rem; margin-right: auto; border-radius: 0.35rem; margin-left: auto;"> -->


    <div
        style="background-image:url('https://apiv2.hamamooz.com/assets/HTML-Temp/images/unlimited_2.jpg');background-position:top center;background-repeat:no-repeat;;background-color:transparent;">
        <div style="Margin: 0 auto;min-width: 320px;max-width: 480px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;"
            class="block-grid ">
            <div style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;">
                <div class="col num12"
                    style="min-width: 320px;max-width: 480px;display: table-cell;vertical-align: top;">
                    <div style="background-color: transparent; width: 100% !important;">
                        <div
                            style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:60px; padding-bottom:60px; padding-right: 60px; padding-left: 60px;">
                            <div align="center" class="img-container center  autowidth  "
                                    style="padding-right: 0px;  padding-left: 0px;">
                                    <a target="_blank" href="https://www.hamamooz.com"><img class="center  autowidth "
                                            align="center" border="0"
                                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/LMS.svg/1200px-LMS.svg.png"
                                            alt="Image" title="Image"
                                            style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: 0;height: auto;float: none;width: 100%;max-width: 115px"
                                            width="115"> </a>
                                </div>
                            <div class="">
                                <div
                                    style="color:#7C7C7C;font-family:Tahoma, Verdana, Segoe, sans-serif;line-height:200%; padding-right: 0px; padding-left: 0px; padding-top: 40px; padding-bottom: 40px;">
                                    <div
                                        style="font-size:12px;line-height:24px;color:#7C7C7C;font-family:Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
                                        <p style="margin: 0;font-size: 14px;line-height: 28px;text-align: left">
                                            <span
                                                style="color: rgb(255, 255, 255); font-size: 14px; line-height: 28px;"><strong><span
                                                        style="font-size: 15px; line-height: 30px;">Hi {firstname} {lastname}
                                                    </span></strong></span><span
                                                style="color: rgb(255, 255, 255); font-size: 14px; line-height: 28px;"><span
                                                    style="font-size: 15px; line-height: 30px;"></span></span>
                                        </p>
                                        <p style="margin: 0;font-size: 14px;line-height: 28px;text-align: center">
                                            <span
                                                style="color: rgb(255, 255, 255); font-size: 14px; line-height: 28px;">To
                                                complete sign up,
                                                please verify your email:<span
                                                    style="font-size: 14px; line-height: 28px;">
                                                </span>
                                                <span style="font-size: 14px; line-height: 28px;"></span></span>
                                            </span>
                                        </p>
                                        <br>
                                        <p style="margin: 0;font-size: 14px;line-height: 28px;text-align: center">
                                            <span
                                                style="color: rgb(255, 255, 255); font-size: 14px; line-height: 28px;">To
                                                <span style="font-size: 14px; line-height: 28px;">
                                                </span>
                                                <span style="font-size: 14px; line-height: 28px;">Your Verify Code: {verify_code}</span></span>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div align="center" class="button-container center "
                                style="padding-right: 30px; padding-left: 30px; padding-top:30px; padding-bottom:30px;">
                                <a target="_blank" href="http://127.0.0.1:5000/register?email={email_url}">
                                    <div
                                        style="color: #ffffff; background-color: #573BEE; border-radius: 26px; -webkit-border-radius: 26px; -moz-border-radius: 26px; max-width: 190px; width: 120px;width: auto; border-top: 0px solid transparent; border-right: 0px solid transparent; border-bottom: 0px solid transparent; border-left: 0px solid transparent; padding-top: 5px; padding-right: 35px; padding-bottom: 5px; padding-left: 35px; font-family: Tahoma, Verdana, Segoe, sans-serif; text-align: center; mso-border-alt: none;">
                                        <span
                                            style="font-family:Arial, Helvetica, sans-serif, Verdana, Segoe, sans-serif;font-size:16px;line-height:32px;">Verify
                                            Email</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>


</body>

</html>